<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{htmlTitle}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body { padding-top: 5rem; }
    </style>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% include "mng/header.html" %}
    {% block content %}
    {% endblock content %}
</body>

</html>